{% set quiz_feedback_classes = [
  'quiz-feedback',
  passed ? 'info-notice info-notice--success' : 'info-notice info-notice--error'
]
%}
<h3 class="quiz-question">
  {{ title }}
  <span class="subtitle">{{ question }}</span>
</h3>
<div {{ attributes.addClass(quiz_feedback_classes) }} open="open">
  <p class="quiz-feedback__summary">
    <span class="visually-hidden">Your answer: </span>
    {{ user_answer }}
    <span class="{{ passed ? 'success' : 'error' }}">
      <span class="visually-hidden"> is </span>
      {{ passed ? 'correct' : 'wrong' }}
    </span>
  </p>
  {{ feedback }}
</div>
